[submodule "vim/vim.symlink/bundle/python-mode"]
	path = vim/vim.symlink/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/vim.symlink/bundle/ultisnips"]
	path = vim/vim.symlink/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/vimux"]
	path = vim/vim.symlink/bundle/vimux
	url = git@github.com:benmills/vimux.git
[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/vim.symlink/bundle/fzf.vim"]
	path = vim/vim.symlink/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/vim.symlink/bundle/deoplete.nvim"]
	path = vim/vim.symlink/bundle/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "vim/vim.symlink/bundle/deoplete-jedi"]
	path = vim/vim.symlink/bundle/deoplete-jedi
	url = git@github.com:zchee/deoplete-jedi.git
[submodule "vim/vim.symlink/bundle/fzf"]
	path = vim/vim.symlink/bundle/fzf
	url = git@github.com:junegunn/fzf.git
