snippet jqg "jQuery Google"
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
endsnippet

snippet iecss "IE Conditional CSS"
<!--[if lt IE ${1:7}]>${2:<link rel="stylesheet" type="text/css" media="all" href="${3:ie.css}" />}<![endif]-->
endsnippet
